:root {
  font-family: "Noto Sans JP", monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #cce4f4;
  background: #0f2035;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
